/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px;
  overflow-y: scroll; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  color: #1c1919; }

h1 {
  font-size: 56px;
  font-weight: 200; }

h5 {
  font-size: 24px; }

h6 {
  font-size: 20px; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

a:hover {
  background-color: rgba(200, 200, 200, 0.3); }

.introBox {
  width: 450px;
  margin: 40px auto 0;
  text-align: center;
  position: relative; }
  .introBox a {
    color: #1c1919;
    text-decoration: none; }
  .introBox h1 a {
    color: #eb5937;
    font-weight: 200; }
  .introBox h6 {
    color: #1c1919;
    margin: 0px 5px; }
  .introBox ul {
    margin: 20px 0 0; }
  .introBox li {
    display: inline-block;
    font-size: 20px;
    font-size: 1.125rem;
    text-align: center;
    width: 125px;
    color: #fafafa; }
  .introBox li a {
    color: #fafafa;
    display: block;
    padding: 12px 20px; }
  .introBox a:hover {
    background-color: rgba(200, 200, 200, 0.3); }
  .introBox h1 a:hover {
    background-color: #fafafa; }
  .introBox ul li:nth-child(1) {
    background-color: #eb5937; }
  .introBox ul li:nth-child(2) {
    background-color: #403d3c;
    margin: 0 20px; }
  .introBox ul li:nth-child(3) {
    background-color: #456f74; }

#carouselContainer {
  height: 20px;
  position: relative; }
  #carouselContainer h6 {
    display: block;
    position: absolute;
    text-align: center;
    width: 450px; }
  #carouselContainer h6 ~ h6 {
    display: none; }

#bodyContainer {
  max-width: 840px;
  position: relative;
  padding: 0 20px;
  margin: 60px auto 120px; }
  #bodyContainer a {
    text-decoration: none;
    font-weight: bold;
    color: #456f74; }
  #bodyContainer h5 {
    margin: 15px 0px; }
  #bodyContainer p {
    line-height: 1.4;
    padding: 10px 5px; }

#blog .code {
  font-family: monospace;
  font-size: 15px;
  background-color: rgba(230, 230, 230, 0.8);
  padding: 0px 1px;
  border: 1px solid #cacaca;
  border-radius: 2px; }
#blog .post {
  margin-bottom: 100px; }
  #blog .post h5 {
    margin: 15px 0px 5px; }
  #blog .post h6 {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 0px 0px 10px; }
#blog ul {
  list-style: initial;
  line-height: 1.4;
  margin-left: 25px; }
#blog li {
  padding: 5px 0; }

.workList {
  text-align: center; }
  .workList li {
    display: inline-block;
    vertical-align: top;
    max-width: 250px;
    text-align: left;
    margin-bottom: 20px; }
  .workList li:nth-child(3n+2) {
    padding: 0 20px; }
  .workList li img {
    width: 100%; }
  .workList li p {
    padding: 10px 5px 40px; }
  .workList h6 {
    margin-top: 8px;
    color: #456f74;
    font-weight: bold; }

#about {
  text-align: center; }
  #about figcaption {
    font-size: 13px;
    font-size: 0.8125rem;
    font-style: italic;
    cursor: pointer; }

#four04 {
  display: none; }

canvas {
  display: none; }
