
$black: #1c1919;
$white: #fafafa;
$primary: #eb5937;
$secondary: #403d3c;
$tertiary: #456f74;

html {
  font-size: 16px;
  overflow-y:scroll;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  background-color:$white;
  color:$black;
}

h1 {
  font-size:56px;
  font-weight:200;
}
h5 {
  font-size:24px;
}
h6 {
  font-size:20px;
}
em {
  font-style: italic;
}
strong {
  font-weight:bold;
}
  a:hover {
    background-color:rgba(200,200,200,0.3);
  }

.introBox {
  width:450px;
  margin: 40px auto 0;
  text-align:center;
  position:relative;

  a {
    color:$black;
    text-decoration:none;
  }
  h1 a {
    color:$primary;
    font-weight:200;
  } 
  h6 {
    color:$black;
    margin: 0px 5px;
  }
  ul {
    margin: 20px 0 0;
  }
  li {
    display:inline-block;
    font-size:20px;
    font-size:1.125rem;
    text-align:center;
    width:125px;
    color:$white;
  }
  li a{  
    color:$white;
    display:block;
    padding:12px 20px;
  }
  a:hover {
    background-color:rgba(200,200,200,0.3);
  }
  h1 a:hover {
    background-color:$white;  
  }
  ul li:nth-child(1){
    background-color:$primary;
  }
  ul li:nth-child(2){
    background-color:$secondary;
    margin:0 20px;
  }
  ul li:nth-child(3){
    background-color:$tertiary;
  }
}

#carouselContainer {
  height: 20px;
  position:relative;

  h6 {
    display:block;  
    position:absolute;
    text-align:center;
    width:450px;
  }
  h6 ~ h6{
    display:none;
  }
}

#bodyContainer {
  max-width:840px;
  position:relative;
  padding:0 20px;
  margin: 60px auto 120px;
  a {
    text-decoration:none;
    font-weight:bold;
    color:$tertiary;
  }
  h5 {
    margin: 15px 0px;
  }
  p {
    line-height:1.4;
    padding:10px 5px;
  }
}

#blog {
  .code {
    font-family:monospace;
    font-size:15px;
    background-color:rgba(230,230,230,0.8);
    padding:0px 1px;
    border:1px solid #cacaca;
    border-radius:2px;
  }
  .post {
    margin-bottom:100px;
    h5 {
      margin: 15px 0px 5px;
    }
    h6 {
      font-size:18px;
      font-size:1.125rem;
      margin:0px 0px 10px;
    }
  }
  ul {
    list-style:initial;
    line-height:1.4;
    margin-left:25px;
  }
  li {
    padding:5px 0;
  }
}


.workList {
  text-align:center;
  li {
    display:inline-block;
    vertical-align:top;
    max-width:250px;
    text-align:left;
    margin-bottom:20px;
  }
  li:nth-child(3n+2){
    padding:0 20px;
  }
  li img {
    width:100%;
  }
  li p {
    padding:10px 5px 40px;
  }
  h6 {
    margin-top:8px;
    color:$tertiary;
    font-weight:bold;
  }
}

#about {
  text-align:center;
  figcaption {
    font-size:13px;
    font-size:0.8125rem;
    font-style:italic;
    cursor:pointer;
  }
}

#four04 {
  display:none;
}

canvas {
  display:none;
}

