@import 'reset';

$black: #1c1919;
$white: #fafafa;
$primary: #eb5937;
$secondary: #403d3c;
$tertiary: #456f74;

@mixin transform($transform){ 
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}
@mixin box-sizing($box-size){
  -webkit-box-sizing: $box-size;
  -moz-box-sizing: $box-size;
  box-sizing: $box-size;
}

html {
  font-size: 16px;
  overflow-y:scroll;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  background-color:$white;
  color:$black;
}

h1 {
  font-size:56px;
  font-size:3.5rem;
  font-weight:200;
}
h5 {
  font-size:24px;
  font-size:1.5rem;
}
h6 {
  font-size:20px;
  font-size:1.25rem;
}

.introBox {
  width:450px;
  margin: 40px auto 0;
  text-align:center;
  position:relative;

  a {
    color:$black;
    text-decoration:none;
  }
  h1 a {
    color:$primary;
    font-weight:200;
  } 
  h6 {
    color:$black;
    margin: 0px 5px;
  }
  ul {
    margin: 20px 0 0;
  }
  li {
    display:inline-block;
    @include box-sizing(border-box);
    font-size:20px;
    font-size:1.125rem;
    text-align:center;
    width:125px;
    color:$white;
  }
  li a{  
    color:$white;
    display:block;
    padding:12px 20px;
  }
  a:hover {
    background-color:rgba(200,200,200,0.3);
  }
  h1 a:hover {
    background-color:$white;  
  }
  ul li:nth-child(1){
    background-color:$primary;
  }
  ul li:nth-child(2){
    background-color:$secondary;
    margin:0 20px;
  }
  ul li:nth-child(3){
    background-color:$tertiary;
  }
}

#carouselContainer {
  height: 20px;
  position:relative;
  -webkit-perspective:1000000px;
  -moz-perspective:1000000px;
  -ms-perspective:1000000px; 
  perspective:1000000px;

  h6 {
    display:block;  
    position:absolute;
    text-align:center;
    width:450px;

    -webkit-backface-visibility:hidden;
    backface-visibility: hidden;

    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -webkit-transform 1s;
    -ms-transition: -webkit-transform 1s;
    transition: transform 1s;
  }
  h6:nth-child(1){
    @include transform(rotateX(0deg) translateZ(20px));
  }
  h6:nth-child(2){
    @include transform(rotateX(120deg) translateZ(20px));
  }
  h6:nth-child(3){
    @include transform(rotateX(240deg) translateZ(20px));
  }
}
#carousel {
  height:100%;
  width:100%;
  position:absolute;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;

  @include transform(translateZ(20px) rotateX(0deg));
  
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  transition: transform 1s;
}

#bodyContainer {
  max-width:840px;
  @include box-sizing(border-box);
  position:relative;
  padding:0 20px;
  margin: 60px auto;
  a {
    text-decoration:none;
    font-weight:bold;
    color:$tertiary;
  }
  h5 {
    margin: 15px 0px;
  }
  p {
    line-height:1.4;
  }
}

.content {
  display:none;
}
.active {
  display:block;
}

.workList {
  text-align:center;
  li {
    display:inline-block;
    vertical-align:top;
    max-width:250px;
    text-align:left;
  }
  li:nth-child(2){
    padding:0 20px;
  }
  li img {
    width:100%;
  }
  li p {
    padding:10px 5px 40px;
  }
  h6 {
    margin-top:8px;
    color:$tertiary;
    font-weight:bold;
  }
}

#about {
  text-align:center;
}
