/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px;
  overflow-y: scroll; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  color: #1c1919; }

h1 {
  font-size: 56px;
  font-size: 3.5rem;
  font-weight: 200; }

h5 {
  font-size: 24px;
  font-size: 1.5rem; }

h6 {
  font-size: 20px;
  font-size: 1.25rem; }

.introBox {
  width: 450px;
  margin: 40px auto 0;
  text-align: center;
  position: relative; }
  .introBox a {
    color: #1c1919;
    text-decoration: none; }
  .introBox h1 a {
    color: #eb5937;
    font-weight: 200; }
  .introBox h6 {
    color: #1c1919;
    margin: 0px 5px; }
  .introBox ul {
    margin: 20px 0 0; }
  .introBox li {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    font-size: 1.125rem;
    text-align: center;
    width: 125px;
    color: #fafafa; }
  .introBox li a {
    color: #fafafa;
    display: block;
    padding: 12px 20px; }
  .introBox a:hover {
    background-color: rgba(200, 200, 200, 0.3); }
  .introBox h1 a:hover {
    background-color: #fafafa; }
  .introBox ul li:nth-child(1) {
    background-color: #eb5937; }
  .introBox ul li:nth-child(2) {
    background-color: #403d3c;
    margin: 0 20px; }
  .introBox ul li:nth-child(3) {
    background-color: #456f74; }

#carouselContainer {
  height: 20px;
  position: relative;
  -webkit-perspective: 1000000px;
  -moz-perspective: 1000000px;
  -ms-perspective: 1000000px;
  perspective: 1000000px; }
  #carouselContainer h6 {
    display: block;
    position: absolute;
    text-align: center;
    width: 450px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -webkit-transform 1s;
    -ms-transition: -webkit-transform 1s;
    transition: transform 1s; }
  #carouselContainer h6:nth-child(1) {
    -webkit-transform: rotateX(0deg) translateZ(20px);
    -moz-transform: rotateX(0deg) translateZ(20px);
    -ms-transform: rotateX(0deg) translateZ(20px);
    transform: rotateX(0deg) translateZ(20px); }
  #carouselContainer h6:nth-child(2) {
    -webkit-transform: rotateX(120deg) translateZ(20px);
    -moz-transform: rotateX(120deg) translateZ(20px);
    -ms-transform: rotateX(120deg) translateZ(20px);
    transform: rotateX(120deg) translateZ(20px); }
  #carouselContainer h6:nth-child(3) {
    -webkit-transform: rotateX(240deg) translateZ(20px);
    -moz-transform: rotateX(240deg) translateZ(20px);
    -ms-transform: rotateX(240deg) translateZ(20px);
    transform: rotateX(240deg) translateZ(20px); }

#carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(20px) rotateX(0deg);
  -moz-transform: translateZ(20px) rotateX(0deg);
  -ms-transform: translateZ(20px) rotateX(0deg);
  transform: translateZ(20px) rotateX(0deg);
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  transition: transform 1s; }

#bodyContainer {
  max-width: 840px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 0 20px;
  margin: 60px auto; }
  #bodyContainer a {
    text-decoration: none;
    font-weight: bold;
    color: #456f74; }
  #bodyContainer h5 {
    margin: 15px 0px; }
  #bodyContainer p {
    line-height: 1.4; }

.content {
  display: none; }

.active {
  display: block; }

.workList {
  text-align: center; }
  .workList li {
    display: inline-block;
    vertical-align: top;
    max-width: 250px;
    text-align: left; }
  .workList li:nth-child(2) {
    padding: 0 20px; }
  .workList li img {
    width: 100%; }
  .workList li p {
    padding: 10px 5px 40px; }
  .workList h6 {
    margin-top: 8px;
    color: #456f74;
    font-weight: bold; }

#about {
  text-align: center; }
