@import 'reset';

$black: #1c1919;
$white: #fafafa;
$primary: #eb5937;
$secondary: #403d3c;
$tertiary: #456f74;

html {
  font-size: 16px;
  overflow-y:scroll;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  background-color:$white;
  color:$black;
}

h1 {
  font-size:72px;
  font-size:4.5rem;
  font-weight:200;
}
h4 {
  font-size:32px;
  font-size:2rem;
}
h5 {
  font-size:24px;
  font-size:1.5rem;
}
h6 {
  font-size:20px;
  font-size:1.125rem;
}

#bodyContainer {
  max-width:1024px;
  box-sizing:border-box;
  position:relative;
  z-index:1;
  margin: 0 auto;
}
.padded {
  padding:100px 28px;
}
#introContainer {
  //background-color:$white;

  background: linear-gradient(to right, rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url(../imgs/cb.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size:cover;

  width:100%;
  -webkit-transition:0.5s height linear;
}

.introBox {
  width:500px;
  height:165px;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-222px;
  margin-top:-100px;
  background-color:#fff;

  z-index:11;
  h1 {
    color:$primary;
  } 
  h5 {
    color:$black;
    margin: 0px 5px;
  }
  ul {
    margin: 12px 5px;
  }
  li {
    display:inline-block;
    box-sizing:border-box;
    font-size:20px;
    font-size:1.125rem;
    text-align:center;
    width:125px;
    color:$white;
  }
  a {
    text-decoration:none;
    color:$black;
  }
  li a{  
    color:$white;
    display:block;
    padding:15px 30px;
  }
  a:hover {
    background-color:rgba(200,200,200,0.3);
  }
  ul li:nth-child(1){
    background-color:$primary;
  }
  ul li:nth-child(2){
    background-color:$secondary;
    margin:0 30px;
  }
  ul li:nth-child(3){
    background-color:$tertiary;
  }
}

.menuBox {
  width:1024px;
  height:72px;
  box-sizing:border-box;
  padding:5px 10px;
  position:fixed;
  top:0;
  left:50%;
  margin-left:-512px;
  margin-top:0;
  h1 {
    float:left;
  } 
  section {
    display:none;
  }
  ul {
    position:absolute;
    right:10px;
  }
}

#carouselContainer {
  height: 24px;
  position:relative;
  -webkit-prespective:1000px;
  perspective:1000px;
  h5 {
    display:block;  
    position:absolute;
    -webkit-backface-visibility:hidden;
    -webkit-transition: -webkit-transform 1s;
  }
  h5:nth-child(1){
    -webkit-transform: rotateX(0deg) translateZ(24px);
  }
  h5:nth-child(2){
    -webkit-transform: rotateX(120deg) translateZ(24px);
  }
  h5:nth-child(3){
    -webkit-transform: rotateX(240deg) translateZ(24px);
  }
}
#carousel {
  height:100%;
  width:100%;
  position:absolute;
  -webkit-transform-style:preserve-3d;
  -webkit-transform: translateZ(24px) rotateX(0deg);
  -webkit-transition: -webkit-transform 1s;
}

.workList {
  text-align:center;
  li {
    display:inline-block;
    vertical-align:top;
    max-width:250px;
    text-align:left;
    padding:0px 20px;
  }
  li img {
    width:100%;
  }
  li p {
    padding:10px 5px 40px;
  }
  h6 {
    margin-top:8px;
    font-weight:bold;
  }
}

.listTitle { 
  line-height:0.9;
  color:$black;
  border-bottom:1px solid #282828;
  margin-bottom:20px;
}
